body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

#container {
    background-color: #00caf0;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    /*position: absolute;*/
}

.fullscreen{
    width: 100% !important;
    height: 100% !important;
}

#menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;

}

#menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
    font-size: 25px;
}
#menu input {
    width: 150px;
    background-color: white;
    margin: 0;
    font-size: 25px;
}

#menu button:hover {
    background-color: lightgray;
}


#menu-add {
    display: none;
    position: absolute;

    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}


#menu-cancel{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}
#layer-menu {
    margin: 10px 0 0 10px;
    background-color: yellow;
    position: absolute;
    top: 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
#layer-menu button{
    width: 100%;
}
#menu-add button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
    font-size: 25px;
}

#menu-add button:hover {
    background-color: lightgray;
}
#menu-cancel button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
    font-size: 25px;
}

#menu-cancel button:hover {
    background-color: lightgray;
}
.button-style{

}
